extends layout

block content
  #message-container
    each message in messages
      .message
        header
          h2=message.user 
          .date=message.added.toUTCString()
        p=message.text
  a(href="/new") Create a new post
